@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-soft-pink text-deep-maroon font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}